*{
  font-family: roboto, sans-serif;
}

.header{
  display: flex;
  font-size:15px;
  background-color:#1F2937;

  justify-content:space-around;
  padding: 10px 100px;
  padding-bottom: 100px
}

h5{
  color:white
}
.links{
  display:flex;
  text-decoration: none;
  color:white
}

ul{
  display:flex;
  list-style: none;
  gap: 25px;
  color:white
}

.title{
  color:white;
  padding: 30px
}

.top-banner{
  display:flex;
  justify-content: space-between;
  justify-content: center;
  background-color:#1F2937;
  padding: 10px 100px;
  padding-bottom:100px
}

h1{
  display: block;
  margin-inline-end: 0px;
  color:white
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.hero{
  display: flex;
  justify-content:center;
  padding: 48;
}

button{
  align-self: baseline;
  color:white;
  background-color: #3882F6;
  padding: 8px;
  border: 2px solid #3882F6;
  border-radius: 8px;
  font-weight: 700;
  max-width: 100px
}

.logo-image{
  display:flex;
  background-color:gray;
  color: white;
  justify-content:center;
  align-items: center;
  width: 200px;
}

.middle-info{
text-align:center;
font-size: 36px;
}

.boxes{
  display:flex;
  justify-content: center;
  text-align:center;
  gap: 30px;

}

.column{
  display:flex;
  flex-basis:112px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center
}

.box{
  min-width: 100px;
  min-height: 100px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin: auto
}

.box-text{
  font-size: 16px
}

.quote{
  background: #e5e7eb;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px
}

.text-quote{
  font-style: italic;
  padding: 0;
  margin:0
}

.quote-source{
  display:block;
  margin-block-start:1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: right;
}

.sign-up{
  display:flex;
  flex-basis:100%;
  padding: 60px 140px;
  justify-content: center
}

.blue-box{
  display:flex;
  align-items: center;
  justify-content: center;
  background: #3882F6;
  gap: 50px;
  color:white;
  padding: 20px 24px;
  border-radius:10px;

}

.blue-box-signup{
  border: 2px solid #f9faf8;
  border-radius: 10px;
  padding: 8px
}

.footer{
display: flex;
flex-basis: 60px;
align-items: center;
justify-content: center;
font-size: 15px;
background: #1F2937
}

.footer-message{
  color:white
}
